<div class="login-section py-5">
   <div class="container">
      <div class="row">
          <div class="col-md-4 m-auto">
              <div class="card rounded-0">
                  <div class="card-header rounded-0 bg-dark text-center text-light">
                      <h5 class="text-uppercase font-weight-bold py-2">login</h5>
                  </div>
                  <div class="card-body">

                      <form #f="ngForm" (ngSubmit)="login(f)">
                        <div class="alert alert-danger rounded-0 my-1" *ngIf="displayErrorMessage">
                           {{displayErrorMessage}}
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                          <input type="text" 
                                 class="form-control" 
                                 placeholder="Enter your email" 
                                 aria-label="Amount (to the nearest dollar)"
                                 name="email"
                                 #email="ngModel" 
                                 ngModel
                                 required
                                 email
                                 >
                        </div>
                        <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger my-1 rounded-0">
                            Emeil is required
                        </div>  
                        <div *ngIf="email.errors?.email && email.touched" class="alert alert-danger my-1 rounded-0">
                            Enter a vallid email
                        </div>  

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                          </div>
                          <input type="password" 
                                 class="form-control" 
                                 placeholder="Enter your password" 
                                 aria-label="Amount (to the nearest dollar)"
                                 name="password"
                                 #password="ngModel" 
                                 ngModel
                                 required
                                 minlength="6" 
                                 >
                        </div>
                        <div *ngIf="password.errors?.required && password.touched" class="alert alert-danger my-1 rounded-0">
                            Password is required
                        </div>  
                        <div *ngIf="password.errors?.minlength && password.touched" class="alert alert-danger my-1 rounded-0">
                            Password should be 6 charachters
                        </div>

                          <button type="submit" 
                                  class="btn btn-dark btn-block" 
                                  [disabled]="f.invalid">
                                Create your account
                        </button>

                      </form>          
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>