//==============================================================================================
// TYPOGRAPHY
//==============================================================================================

body {
	font-family: $font-body;
    background-color: $body-color;
    color: $body-text-color;
}