//==============================================================================================
// VARIABLES
//==============================================================================================

// Fonts Family Base
$font-header     : 'Quicksand';
$font-body	     : 'Montserrat';

// Colors
$color-primary      : #ffdc34;  	//Navbar, icons 	                         
$color-secondary-1  : #5A5560;	    //Footer									
$color-secondary-2  : #46344E;		//Components: inputs, buttons...
$body-color			: #F7F9FB;		//White color for body
$text-color			: #F7F9FB;		//White color for text
$body-text-color	: #333333;		//Dark color 
$bg-color-dark   	: #333333;		//Dark color
