<footer class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h6 class="text-uppercase mb-4  font-weight-bold">Devlog</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo debitis ratione a adipisci architecto quasi, assumenda provident, quaerat quae distinctio!</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<h6 class="text-uppercase mb-4 font-weight-bold">Courses</h6>
						<ul class="list-unstyled">
							<li class="list-item"><a href="#">Angular</a></li>
							<li class="list-item"><a href="#">Vuejs</a></li>
							<li class="list-item"><a href="#">Laravel</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h6 class="text-uppercase mb-4 font-weight-bold">Nav</h6>
						<ul class="list-unstyled">
							<li class="list-item"><a [routerLink]="['/']">Home</a></li>
							<li class="list-item"><a [routerLink]="['/posts']">Posts</a></li>
							<li class="list-item"><a [routerLink]="['/contact']">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h6 class="text-uppercase mb-4 font-weight-bold">Media</h6>
						<ul class="list-inline media">
							<li class="list-inline-item"><a href="#" ><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>		
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 m-auto text-center">
				<p class="pt-5">Lorem ipsum dolor sit amet, consectetur.</p>
			</div>
		</div>
	</div>
</footer>