// Import fonts
$font1: "./styles/fonts/montserrat/Montserrat-Light.ttf";
$font2: "./styles/fonts/quicksand/static/Quicksand-Light.ttf";

@font-face {
	font-family: "Montserrat";
	src: url($font1);
}

@font-face {
	font-family: "Quicksand";
	src: url($font2);
}

// THe main sass fonts
@import './styles/sass/main.scss';

